// LCARS - Elements
.lcars-element {
    position: relative;
    font-weight: bold;
    color: black;
    text-align: right;
    background: $default-color;
    height: $base-height;
    width: $base-width;
    box-sizing: border-box;
    padding: 0 $base-spacing * 3;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    text-decoration: none;

    &.rounded {
        border-radius: $base-height / 2;
        padding-left: $base-height / 2;
        padding-right: $base-height / 2;
    }

    &:hover {
      text-decoration: none;
    }
}

ul.lcars-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    border-top: $base-spacing solid #000;
    border-bottom: $base-spacing solid #000;

    li {
        position: relative;

        width: $base-width + $elbow-column-spacing;
        padding-right: $elbow-column-spacing;

        height: $base-height;

        a {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            background: $default-color;

            height: $base-height;

            padding: 0 $base-spacing * 3;

            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }


        &.active:after {
            content: '';
            top: 0;
            left: $base-width + ($base-spacing * 2);
            display: block;
            position: absolute;
            width: $elbow-column-spacing - ($base-spacing * 2);
            height: $base-height;
            background-color: #F00;
            border-top-right-radius: $half-height;
            border-bottom-right-radius: $half-height;
        }
    }

    li + li {
        margin-top: $base-spacing;
    }
}

h1, h2 {
    color: $title-color;
    font-variant: small-caps;
}

h2 {
    text-align: right;
    margin-right: $double-spacing;
}
/*
  *
    margin 0

  &.left-rounded
    border-top-left-radius (base-height/2)
    border-bottom-left-radius (base-height/2)
    padding-left (base-height/2)

  &.right-rounded
    border-top-right-radius (base-height/2)
    border-bottom-right-radius (base-height/2)
    padding-right (base-height/2)

  &.rounded
    border-radius (base-height/2)
    padding-left (base-height/2)
    padding-right (base-height/2)

  &.button
    cursor pointer

    &:active
      background-color default-color-highlight

  .{prefix}element-addition
    display flex
    flex-direction column
    justify-content flex-end
    height 100%
    background-color black
    color white
    font-size (2/3 * base-height)
    margin-left base-spacing
    padding-left base-spacing
    padding-right base-spacing

  .{prefix}element-decorator
    display inline-block
    position absolute
    top 0
    width (base-height/2) + double-spacing
    left 0 - @width - base-spacing
    height 100%
    background-color default-color
    border-top-left-radius half-height
    border-bottom-left-radius half-height
    &:after
      content ''
      display block
      position absolute
      right base-spacing
      width base-spacing
      height 100%
      background-color black
    &.right
      right 0 - @width - base-spacing
      left unset
      border-top-right-radius half-height
      border-bottom-right-radius half-height
      border-top-left-radius 0
      border-bottom-left-radius 0
      &:after
        left base-spacing
        right unset
*/
