@import "colors";
@import "variables";
@import "elbow";
@import "bar";
@import "element";
@import "block";

@import "layout";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #FFF;
}


.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-menu {
        display: flex;
        flex-wrap: wrap;

        margin-left: -$double-spacing;
        margin-top: -$double-spacing;
        width: $base-width * 2 + $double-spacing * 2;

        & > * {
            margin-left: $double-spacing;
            margin-top: $double-spacing;
            width: calc(50% - $double-spacing);
        }
    }
}
